/**
 * Apply `html` default styles.
 *
 * 1. Prevent iOS text size adjust after orientation change, without disabling user zoom.
 */

html
  -webkit-text-size-adjust 100% // 1
  -ms-text-size-adjust 100%     // 1
