/**
 * Apply `html` default styles.
 *
 * 1. Prevent iOS text size adjust after orientation change, without disabling user zoom.
 * 2. `html` reset.
 */

html
  -webkit-text-size-adjust 100% // 1
  -ms-text-size-adjust 100%     // 1

  font-size 62.5%                           // 2
  -webkit-tap-highlight-color rgba(0,0,0,0) // 2
